@shapo-base: "DIN PRO", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@shapo-headlines: Playfair Display, serif;


//HEADINGS
h1, h2, h3, h4, h5, h6 {
    .unitize(line-height, 26);
    .unitize-margin(28, 0, 10, 0);
    font-family: @font-headline-stack;
    font-weight: @font-base-weight;
    color: @text-color-dark;
}
