.content--breadcrumb {
	display: none;
}

.content--breadcrumb {
    .unitize(font-size , 12);
    display: block;
    float: none;
    border-bottom: 0;
}

.content--breadcrumb .breadcrumb--link {
	color: @gray-dark;
}

@media screen and (min-width: @desktopViewportWidth) {

.content--breadcrumb {
	.unitize-padding(0);
	}
}