#newsletter--footer {
	background: @sp-green;
    .unitize-padding(15, 0);
    color: @text-color;
}
#newsletter--footer .container {
	background:transparent;
    .unitize-padding(0, 15);
}
h2.newsletter--title {
    .unitize(font-size , 24);
}

.newsletter--footer-benefits span {
    .unitize(font-size , 16);
    display: block;
    .unitize-padding(0, 15);
}
.newsletter--footer-benefits span i {
    .unitize(font-size , 16);
    color: @sp-green-dark;
}


