#newsletter--footer {
	background: @sp-green;
    .unitize-padding(0, 0);
    color: @text-color;
    display: flex;
    align-items: center;
    justify-content: center;    
}
#newsletter--footer .container {
	background:transparent;
    .unitize-padding(0, 15);
}
h2.newsletter--title {
    .unitize(font-size , 24);
}

.newsletter--footer-benefits span {
    .unitize(font-size , 16);
    display: block;
    .unitize-padding(0, 15);
}
.newsletter--footer-benefits span i {
    .unitize(font-size , 16);
    color: @sp-green-dark;
}



@media screen and (min-width: @desktopViewportWidth) {

    .newsletter--footer-img-container {
        width: 33%;
        height: 100%;
        background-size: cover;
        float: left;
        background-position: left center;
        min-height: 240px;
        background-repeat: no-repeat;
    }

}

