


//FLASH SALE
section.falsh--sale {
    height: 40px;
    overflow: hidden;
		.sale--offer {
  		display: flex;
  		align-items: center;
  		
		.falsh--sale-content {
    		width: 80%;
		}

	div#clock {
	    display: flex;
	}



}

}
