body.is--ctl-checkout section.flash--sale {
	.is--hidden();
}


//FLASH SALE
section.flash--sale {
    overflow: hidden;
    background: rgb(246, 122, 111);
    background-image: linear-gradient(to right, @sp-pink-dark , @sp-pink);


		.sale--offer {
  		display: flex;
   		align-items: center;
  		justify-content: center;
 		height: 40px;



		.falsh--sale-content {
			padding:0 15px;
		}

	div#clock {
	    display: flex;
	    color: #fff;
	}

	.days:after {
		content: "Tage";
	}
	.hours:after {
		content: "Std.";
	}
	.minutes:after {
		content: "min";
	}
	.seconds:after {
		content: "sek.";
	}	

	div#clock *:after {
	    padding: 5px;
	    font-size: 12px;
	}


}

	.flash--sale-header {
	    .unitize(font-size, 16);
	    color: #fff;
	}

}



@media screen and (max-width: @tabletViewportWidth) {
section.flash--sale .sale--offer {
    display: block;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 5px;
    text-align: center;
}
section.flash--sale .sale--offer .falsh--sale-content {
    padding: 5px;
    display: block;
}
span.flash--sale-timer {
    width: 100%;
    text-align: center;
    display: block;
}

section.flash--sale .sale--offer div#clock {
    display: inline-flex;
    color: #fff;
}

}
