// MOVED TO SPRINT 2
.shapo--note-action {
	.is--hidden()
}

// GLOBAL STYLE PRODUCT BOX
.product--box  {
	.box--content {
		border:none;
	}
}









@media screen and(min-width: @phoneLandscapeViewportWidth) {
	
.box--image {
	 width: 50%;
		.product--image {
	    .unitize(height, 520);
			
			.image--media {
        	object-fit: cover;
        	width: 100%;
      		}
		}   
	
}

}