.sidebar-main.off-canvas {
    background: #fff;
}

 .sidebar--navigation {
    .border-radius(0);
    border: 0px solid @border-color;
}



@media screen and (min-width: @tabletViewportWidth) {
	.listing--sidebar.fixed {
	    .transition(top 0.5s ease-out);
	    position: fixed;
	    top: -350px;
	}	

}