.advanced-menu .button-container {
    display: none;
}

.advanced-menu .menu--level-1 {
    .unitize(margin 0);
}


.navigation-main .navigation--list .navigation--entry.is--hovered {
    .border-radius-multi(0px, 0px);
    .tap-highlight-color(rgba(0, 0, 0, 0));
    background: transparent;
    color: @text-color;

    .navigation--link {
        background: transparent;
        color: @text-color !important;
    }
}